# def-biometric-verification

**biometric verification**

the automated, one-to-one verification, including authentication, of the identity of natural persons by comparing their biometric data to previously provided biometric data
